# Environments
.env
venv/
.venv/
__pycache__/
*.pyc
*.pyo
*.pyd

# IDE specific
.idea/
.vscode/

# Build artifacts
dist/
build/
*.egg-info/

# Other
*.log
*.db
# Add any other files you don't want to commit